*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (max-width: 768px) {
    body{
        background-size: cover;
        background-position: center;
        color: #000000;
        line-height: 1.6;

    }

    .section{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .titre h1{
        text-align: center;
        font-size: 20px;
    }

    .titre p{
        text-align: center;
        font-size: 15px;
    }

    .logo img{
        width: 5px;
        height: 5px;
        float: left;
    }

    .contenaire img{
        width: 5px;
        height: 5px;
        float: right;
    }

    .logos img{
        width: 5px;
        height: 5px;
        float: left;
    }

    .contenaires img{
        width: 5px;
        height: 5px;
        float: right;
    }


    form{
        width: 90%;
        padding: 90px;
    }
    form h2{
        font-size: 8px;

    }
    label{
        font-size: 30px;
    }
    form input{
        width: 300%;
        padding: 8px;
        font-size: 12px;
    }
    form button{
        padding: 6px 10px;
        font-size: 10px;
    }

}
body{
    font-family: 'Arial', helvetica, sans-serif;
    background: rgb(246, 93, 233);
    background-size: cover;
    background-position: center;
    color: #000000;
    line-height: 1.6;
}
.section{
    display: flex;
    justify-content: space-between ;
    width: 100%;
}

.logo img{
    display: flex;
    align-items: flex-end; 
    width: 150px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;

}

.contenaire img{
    display: flex;
    align-items: flex-end; 
    width: 150px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    float: right;
    border-radius: 20px;
}


.logos img{
    display: flex;
    align-items: flex-start; 
    width: 150px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px;
}

.contenaires img{
    display: flex;
    align-items: flex-start; 
    width: 150px;
    height: 150px;
    margin-top: 10px;
    padding: 10px;
    float: right;
    border-radius: 20px;
}

.titre h1{
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top:auto ;
}

.titre p{
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin-top:auto 
}

.section p{
     display: flex;
     justify-content: center;
     width: 100%;
     font-size: 20px;
}

form h2{
    color: #000002;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
}
form{
    max-width: 500px;
    margin: 20px auto;
    padding: 10px;
    background:  white;
    background-position: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
label{
    display: block;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight: bold;
    color: #2600fa;
    font-size: 20px;
}
form input{
    width: 80%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
form button{
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #1404f8;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}
form button:hover{
    background-color: #0d03c1;
}

